.container {
  display: flex;
  min-height: 90vh;
  padding: 30px;
}
.user_info {
  min-width: 20%;
}
.user_repos {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.header {
  display: flex;
}
.nav_item {
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}
.logo {
  width: 100px;
  border-radius: 100%;
}

.repo_details > li {
  display: inline;
  margin-right: 30px;
  color: #57606a;
  font-size: 16px;
}
.single_repo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #57606a;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}
.single_repo > p {
  margin: 8px 0px 8px 0px;
  font-size: 16px;
  color: #57606a;
}
