* {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
.container {
  display: flex;
  max-width: 1000px;
}
.user_info {
  min-width: 296px;
}
.user_repos {
  display: flex;
  flex-direction: column;
  min-width: 70%;
}
.header {
  display: flex;
  justify-content: flex-start;
  background-color: darkgrey;
}
.nav_item {
  display: inline;
  margin-right: 30px;
  margin-left: 30px;
}
.logo {
  width: 256px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.full_name {
  font-size: 24px;
  margin: 0px;
}
.username {
  margin: 0px;
  font-size: 20px;
  color: #57606a;
  font-weight: 300;
}
.bio {
  font-size: 16px;
  font-weight: normal;
}
.repo_details > li {
  display: inline;
  margin-right: 30px;
  color: #57606a;
  font-size: 12px;
}
.single_repo {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #57606a;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-between;
}
.single_repo > p {
  margin: 8px 0px 8px 0px;
  font-size: 12px;
  color: #57606a;
}
.language_color {
  display: inline-flex;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 4px;
}

.star_icon {
  display: inline-flex;
  margin-right: 4px;
}
.fork_icon {
  display: inline-flex;
  margin-right: 4px;
}

.single_repo > a {
  color: #0969da;
  font-size: 20px;
  text-decoration: none;
  font-weight: 550;
}
